<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ins_bot">
  <xacro:include filename="$(find robo_build)/urdf/ins_bot/base.urdf.xacro"/>

  <!-- 传感器组件 -->
  <xacro:include filename="$(find robo_build)/urdf/ins_bot/sensor/imu.urdf.xacro"/>
  <xacro:include filename="$(find robo_build)/urdf/ins_bot/sensor/laser.urdf.xacro"/>
  <xacro:include filename="$(find robo_build)/urdf/ins_bot/sensor/camera.urdf.xacro"/>

  <xacro:include filename="$(find robo_build)/urdf/ins_bot/actuator/ins_bot.urdf.xacro"/>

  <xacro:base_xacro length="0.12" radius="0.1"/> <!-- 传感器 -->

  <xacro:imu_xacro xyz="0 0 0.02"/>
  <xacro:laser_xacro xyz="0 0 0.10"/>
  <xacro:camera_xacro xyz="0.10 0 0.075"/>
</robot>
